* {
    margin:;
    border: 1px solid rgb(229, 229, 186);
    background-color: rgb(255, 255, 255);
    
}

.text{
    font-size: medium;
    color:rgb(36, 56, 94);
    background-color:rgb(245, 245, 245);
    margin: .5em 2em 2em;
    padding: .5em ;
    text-justify: ;
    display: block;
    
}

div{
    background-color: rgb(104, 104, 104);
    margin:;
    
}

ul{
    padding: 1px;
    margin: .5em 2em 1em;
    display:inline-flex;
    background-color: whitesmoke;
    align-content: center;
}
li{
    color:red;
    margin: 2px 2px 1px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display:inline-block;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(36, 56, 94);
    padding: .5px;
    margin: 2px 280px 2px;
}
.img{
    width: 250px;
    height: auto;
}
.rectitle {
    color:rgb(36, 56, 94);
    background-color:rgb(245, 245, 245);
    margin:5px;
    padding: .5em ;
    display: flex;
}