p {
    color:brown;
    background-color:;
}

div{
    background-color: beige;
}
li{
    color:red;
    size-adjust: 220px;
}
h1{
    text-align: center;
    color: cornflowerblue;
    background-color: darkgray;
}